.vscode/**
.vscode-test/**
.vscodeignore
node_modules/**
src/**
test/**
coverage/**
**/*.ts
**/*.map
**/tsconfig.json
**/eslint.config.mjs
pnpm-lock.yaml
.git/**
.gitignore
esbuild.js
.vscode-test.mjs
vsc-extension-quickstart.md

!dist/**
!README.md
!CHANGELOG.md
!LICENSE*
!images/**
!package.json
